@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... keep your font variables and base body styles ... */

html.lenis,
html.lenis body {
  height: auto;
}

/* Remove CSS snapping as we will use GSAP instead */
html, body {
 overflow-x: hidden;
  /* DO NOT use scroll-behavior: smooth here */
  scroll-behavior: auto !important;
}

/* Hide scrollbar */
html::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}